@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    font-family: Roboto;
    margin: 0px;
}

.header,
.footer {
    background-color: #1F2937;
}

.third-section {
    background-color: #E5E7EB;
}

.top,
.main,
.second-section,
.box,
.rectangle {
    margin: 0px 10%;
}

.footer {
    padding: 0px 70px;
}

.main {
    display: flex;
    padding: 100px 0px 100px;
    justify-content: space-between;
    gap: 80px;
}

.top {
    display: flex;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-weight: 900;
    flex: 1;
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

a,
.footer,
.subtext {
    text-decoration: none;
    color: #E5E7EB;
}

#title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

.main-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    height: fit-content
}

.image {
    max-height: 218px;
}

.signup {
    background-color: #3882F6;
    width: 100px;
    width: 28%;
    padding: 5px;
    margin: 10px 0px;
    color: white;
    font-size: 15px;
    border-style: none;
    border-radius: 5px;
    font-weight: 900;
}

.second-section {
    padding: 10px 0px 100px;
}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.idea {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.ideas {
    max-width: 150px;
    text-align: center;
}

.ideas .subtext {
    color: #1F2937;
}

.box {
    padding: 100px
}

.quote {
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.author {
    text-align: right;
    font-weight: 600;
}

.fourth-section {
    padding: 100px 75px;
}

.rectangle {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 40px 100px;
    color: white;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
}

.exclamation {
    margin: 0px 0px 5px;
}

.call-to-action .signup {
    border-style: solid;
    border-color: white;
    max-width: 110px;
}

.footer {
    padding: 40px;
    text-align: center;
}